data/**
models/**
**/wandb/** 

token_config.py 
*.pyc
**/__pycache__
envnoor/** 
timesfm-env/** 
TS2Vec/**
timesfm/** 
results/**
wandb/** 
**/models/**
**/wandb/**
notebooks/models/**
results_21_05_overleaf/**
notebooks/models_old/**
notebooks/models_21_05_overleaf/**